<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <form action="/session/destroy" method="post">
      <input type="submit" value="Logout" class="logout_submit">
    </form>

    <div class="peeps_box">
      <h1 class="peepsbox_heading">"Here's what's happening: "</h1>
      <% @peeps.each do |peep| %>
        <p class="peeps_list">
          <%= peep.message%>
          <br>
          <div class="peeps_user">
            <%= "@#{peep.user_id}"%>
          </div>
          <br>
          <div class="peep_timestamp">
            <%= "Posted on #{peep.timestamp}"%>
          </div>
        </p>
      <% end %>
    </div>

  </body>
</html>