<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>
  </head>
  <body>
  <header>&#128037;Chitter&#128037;</header>
    <form action="/session/destroy" method="post">
      <input type="submit" value="Logout" class="logout_submit">
    </form>
<div class="create_peepbox">
<h1> Write your peep here: </h1>
<form action="/feed" method="post" >
<input type="hidden" name="user_id" id="user_id" value="<%= @user.id %>">
<textarea id="message" name="message" rows="5" cols="20" class="peep_textarea" placeholder="What's on your mind? What's happening? Create a peep here..."></textarea>
<br>
<input type="submit" value="Post Peep" id="Post Peep">
</form>
</div>


    <div class="peeps_box">
      <h1 class="peepsbox_heading">"Here's what's happening: "</h1>
      <% @peeps.each do |peep| %>
        <p class="peeps_list">
          <%= peep.message%>
          <br>
          <div class="peeps_user">
            <%= "@#{peep.user_id}"%>
          </div>
          <br>
          <div class="peep_timestamp">
            <%= "Posted on #{peep.timestamp}"%>
          </div>
        </p>
      <% end %>
    </div>

  </body>
</html>